<h1>Yoga Schedule</h1>

<code>
<%= session.inspect %>
</code>

<table>
  <thead>
    <tr>
      <td>Day of Week</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    <% @schedule_items.each do |schedule_item| %>
    <tr>
      <td><%= schedule_item.day %></td>
      <td><%= schedule_item.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>


